*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

html,body
{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: #111;
    position: relative;
}

.elem{
    height: 140px;
    width: 100%;
    /* background-color: red; */
   border-bottom: 2px solid #fff;
   display: flex;
   align-items:center;
   justify-content: flex-start;
}

.elem h1{
    font-size: 6vw;
}