*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cornflowerblue;

}

#card{
    height: 450px;
    width: 300px;
    background-color: #fff;
    border-radius: 10px;
}