*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

body{
    background-color: rgb(91, 215, 243);
    display: flex;
    align-items: center;
    justify-content: center;
}

#card{
    height: 480px;
    width: 300px;
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
    border: 3px solid black;
    position: relative;
}

#storiyan{
    height: 120px;
    width: 100%;
    border-bottom: 3px solid #dadadd;
    padding: 20px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
   
}
#storiyan::-webkit-scrollbar{
    display: none;
}

.story{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 2px solid red;
    display: inline-block;
    overflow: hidden;
    margin-right: 5px;
}

.story img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    
}

#full-screen{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    display: none;
}