*{
margin: 0;
padding: 0;
box-sizing: border-box;

}

html,body{
    height: 100%;
    width: 100%;
}


body{
    background-color: lightgreen;
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: relative; */
}

#container{
    height: 400px;
    width: 350px;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
}

#container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

#container i{
    font-size: 60px;
    color: #fff;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
}