*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

html,body
{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: #111;
    position: relative;
}

.elem{
    height: 140px;
    width: 100%;
    /* background-color: red; */
   border-bottom: 2px solid #fff;
   display: flex;
   align-items:center;
   justify-content: flex-start;
   position: relative;
}

.elem h1{
    font-size: 6vw;
}

.elem img{
    height: 130px;
    width: 130px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    position: absolute;
}