*{
margin: 0;
padding: 0;
box-sizing: border-box;

}

html,body{
    height: 100%;
    width: 100%;
}


body{
    background-color: lightgreen;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container{
    height: 400px;
    width: 350px;
    background-color: #fff;
    border-radius: 10px;
}

#container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}